In [1]:
%config Completer.use_jedi = False

In [2]:
from census.getCensus import getCensus

In [3]:
c = getCensus(2019, shouldCacheOnDisk=True, shouldLoadFromExistingCache=True)

In [4]:
groups = c.getGroups()

In [5]:
educGroups = c.searchGroups("education")

In [6]:
c.searchGroups("computer").head()

,code,description
0,B28001,TYPES OF COMPUTERS IN HOUSEHOLD
1,B28003,PRESENCE OF A COMPUTER AND TYPE OF INTERNET SUBSCRIPTION IN HOUSEHOLD
2,B28005,AGE BY PRESENCE OF A COMPUTER AND TYPES OF INTERNET SUBSCRIPTION IN HOUSEHOLD
3,B28006,EDUCATIONAL ATTAINMENT BY PRESENCE OF A COMPUTER AND TYPES OF INTERNET SUBSCRIPTION IN HOUSEHOLD
4,B28007,LABOR FORCE STATUS BY PRESENCE OF A COMPUTER AND TYPES OF INTERNET SUBSCRIPTION IN HOUSEHOLD

In [7]:
# B16010    EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS BY LANGUAGE SPOKEN AT HOME FOR THE POPULATION 25 YEARS AND OVER
# C15003	EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER
# B28010	COMPUTERS IN HOUSEHOLD
# B28003	PRESENCE OF A COMPUTER AND TYPE OF INTERNET SUBSCRIPTION IN
# B28006	EDUCATIONAL ATTAINMENT BY PRESENCE OF A COMPUTER AND TYPES OF INTERNET SUBSCRIPTION IN HOUSEHOLD
# B23025	EMPLOYMENT STATUS FOR THE POPULATION 16 YEARS AND OVER
# B27011	HEALTH INSURANCE COVERAGE STATUS AND TYPE BY EMPLOYMENT STATUS

In [8]:
from census.variables.models import GroupCode

In [9]:
variables = c.getVariablesByGroup([
    'C15003',
    'B28010',
    'B28003',
    'B28006',
    'B23025',
    'B27011',
])

  0%|          | 0/6 [00:00<?, ?it/s]

In [10]:
filteredVars = variables[variables['name'].str.contains('^estimate!!', case=False)]

In [11]:
varCodes = filteredVars['code'].tolist()

In [12]:
from census.models import GeoDomain

In [13]:
from census.utils.chunk import chunk
import pandas as pd

In [14]:
len(filteredVars)

74

In [15]:
df = filteredVars[filteredVars['groupCode'] == 'C15003']

In [16]:
df

,code,groupCode,groupConcept,name
0,C15003_001E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,Estimate!!Total:
4,C15003_002E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,Estimate!!Total:!!No schooling completed
8,C15003_003E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,Estimate!!Total:!!Nursery to 4th grade
12,C15003_004E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,Estimate!!Total:!!5th and 6th grade
16,C15003_005E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,Estimate!!Total:!!7th and 8th grade
20,C15003_006E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,Estimate!!Total:!!9th grade
24,C15003_007E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,Estimate!!Total:!!10th grade
28,C15003_008E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,Estimate!!Total:!!11th grade
32,C15003_009E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,"Estimate!!Total:!!12th grade, no diploma"
36,C15003_010E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,Estimate!!Total:!!Regular high school diploma
40,C15003_011E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,Estimate!!Total:!!GED or alternative credential
44,C15003_012E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,"Estimate!!Total:!!Some college, less than 1 year"
48,C15003_013E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,"Estimate!!Total:!!Some college, 1 or more years, no degree"
52,C15003_014E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,Estimate!!Total:!!Associate's degree
56,C15003_015E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,Estimate!!Total:!!Bachelor's degree
60,C15003_016E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,Estimate!!Total:!!Master's degree
64,C15003_017E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,Estimate!!Total:!!Professional school degree
68,C15003_018E,C15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,Estimate!!Total:!!Doctorate degree

In [17]:
educData = c.getStats(df['code'].tolist(), GeoDomain('congressional district'), [GeoDomain('state')], replaceColumnHeaders=True)

|          | 0/? [00:00<?, ?it/s]

In [18]:
educData.head(n=2)

,NAME,congressional district,state,Estimate_Total,Estimate_Total_NoSchoolingCompleted,Estimate_Total_NurseryTo4thGrade,Estimate_Total_5thAnd6thGrade,Estimate_Total_7thAnd8thGrade,Estimate_Total_9thGrade,Estimate_Total_10thGrade,...,Estimate_Total_12thGradeNoDiploma,Estimate_Total_RegularHighSchoolDiploma,Estimate_Total_GedOrAlternativeCredential,Estimate_Total_SomeCollegeLessThan1Year,Estimate_Total_SomeCollege1OrMoreYearsNoDegree,Estimate_Total_Associate'sDegree,Estimate_Total_Bachelor'sDegree,Estimate_Total_Master'sDegree,Estimate_Total_ProfessionalSchoolDegree,Estimate_Total_DoctorateDegree
0,"Congressional District 3 (116th Congress), California",03,06,492041,9757,5077,12445,5491,5655,5461,...,11891,105373,13456,36042,86013,50948,83536,34271,9976,6172
1,"Congressional District 21 (116th Congress), California",21,06,424849,21911,21062,39352,15217,20351,12229,...,15204,98332,13409,23653,59324,24457,32602,8271,3547,889

In [19]:
educData.columns

Index(['NAME', 'congressional district', 'state', 'Estimate_Total',
       'Estimate_Total_NoSchoolingCompleted',
       'Estimate_Total_NurseryTo4thGrade', 'Estimate_Total_5thAnd6thGrade',
       'Estimate_Total_7thAnd8thGrade', 'Estimate_Total_9thGrade',
       'Estimate_Total_10thGrade', 'Estimate_Total_11thGrade',
       'Estimate_Total_12thGradeNoDiploma',
       'Estimate_Total_RegularHighSchoolDiploma',
       'Estimate_Total_GedOrAlternativeCredential',
       'Estimate_Total_SomeCollegeLessThan1Year',
       'Estimate_Total_SomeCollege1OrMoreYearsNoDegree',
       'Estimate_Total_Associate'sDegree', 'Estimate_Total_Bachelor'sDegree',
       'Estimate_Total_Master'sDegree',
       'Estimate_Total_ProfessionalSchoolDegree',
       'Estimate_Total_DoctorateDegree'],
      dtype='object')

In [19]:
educData['pctNoHs'] = (educData.Estimate_Total_NoSchoolingCompleted \
                    + educData.Estimate_Total_NurseryTo4thGrade \
                    + educData.Estimate_Total_5thAnd6thGrade \
                    + educData.Estimate_Total_7thAnd8thGrade \
                    + educData.Estimate_Total_9thGrade \
                    + educData.Estimate_Total_10thGrade \
                    + educData.Estimate_Total_11thGrade \
                    + educData.Estimate_Total_12thGradeNoDiploma) / educData.Estimate_Total

TypeError: unsupported operand type(s) for /: 'str' and 'str'